@import 'pico.css';
@import 'screens.css';
@import 'mapbox-gl.css';

/* Template */
main {
    height: 92vh;
    padding: 0 !important;
}

nav {
    height: 8vh;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.screen1::after {
  content: ".";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  padding: 5px;
  font-size: 0px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 3px solid #F44336;
  border-style: groove;
}

/* Debug */
/*div.grid-area > div { background-color:hsla(224, 100%, 65%, 0.5); border: 1px dashed; padding: 5px; }*/

/* Customize Pico */
[type="submit"], [type="reset"], [type="button"] {
    margin-bottom: initial;
}

@media (min-width: 576px) {
    :root {
      --pico-font-size: 100%;
    }
}

@media (min-width: 768px) {
    :root {
      --pico-font-size: 100%;
    }
}

@media (min-width: 1024px) {
    :root {
      --pico-font-size: 100%;
    }
}

@media (min-width: 1280px) {
    :root {
      --pico-font-size: 100%;
    }
}

@media (min-width: 1536px) {
    :root {
      --pico-font-size: 100%;
    }
}