@import 'https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css';
@import 'https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css';

.mapboxgl-canvas {
    width: 100% !important;
}

.MicrosoftMap [role=button] {
    border: none;
    background-color: transparent;
}

.MicrosoftMap .birdseyeV2InfoExitControl {
    display: none;
}