self.configuration = {
    /**
     * Available languages: en, fr, es, pt, it, de, pl
     */
    language: "en",
    /**
     * In order to use one of the providers, a valid API key must be provided.
     */
    apiKeys: {
        google: "",
        azure:  "",
        bing:   "",
        mapbox: "",
    },
    /**
     * Quick links are dinamically generated, and can be added freely.
     * Syntax:
     *     https://website.tld/path/$lat,$lng
     * Parameters:
     *     - $lat: latitude of the current position
     *     - $lng: longitude of the current position
     *     - precision: number of floating digits for $lat and $lng (optional)
     */
    shortcuts: [
        {
            name: "Twitter Media",
            category: "📱 Social Media",
            url: "https://twitter.com/search?q=geocode:$lat,$lng,1km&f=media",
        },
        {
            name: "Youtube Geofind",
            category: "📱 Social Media",
            url: "https://mattw.io/youtube-geofind/location?location=$lat,$lng&radius=5&pages=3&doSearch=true",
        },
        {
            name: "Flickr Map",
            category: "📱 Social Media",
            url: "https://www.flickr.com/map?&fLat=$lat&fLon=$lng3&zl=14",
        },
        {
            name: "WikiLoc",
            category: "📱 Social Media",
            url: "https://www.wikiloc.com/wikiloc/map.do?sw=$lat,$lng",
        },
        {
            name: "MarineTraffic",
            category: "🛬 Transport",
            url: "https://www.marinetraffic.com/en/ais/home/centerx:$lng/centery:$lat/zoom:13",
            precision: 3,
        },
        {
            name: "FlightRadar",
            category: "🛬 Transport",
            url: "https://www.flightradar24.com/$lat,$lng/10",
            precision: 2,
        },
        {
            name: "OpenRailwayMap",
            category: "🛬 Transport",
            url: "https://www.openrailwaymap.org/?style=standard&lat=$lat&lon=$lng&zoom=14"
        },
        {
            name: "Apple Maps",
            category: "🗺️ Maps",
            url: "https://beta.maps.apple.com/?ll=$lat%2C$lng&q=%20&t=k"
        },
        {
            name: "YandexMaps",
            category: "🗺️ Maps",
            url: "https://yandex.com/maps/?l=pht&ll=$lng,$lat&z=10"
        },
        {
            name: "PeakVisor",
            category: "🗺️ Maps",
            url: "https://peakvisor.com/panorama.html?lat=$lat&lng=$lng",
            precision: 7,
        },
        {
            name: "ShadeMap",
            category: "🗺️ Maps",
            url: "https://shademap.app/@$lat,$lng,15z"
        },
        {
            name: "SunCalc",
            category: "🗺️ Maps",
            url: "https://www.suncalc.org/#/$lat,$lng,15/null/null/null/1",
            precision: 4,
        },     
        {
            name: "EO Browser",
            category: "🗺️ Maps",
            url: "https://apps.sentinel-hub.com/eo-browser/?zoom=15&lat=$lat&lng=$lng"
        },
        {
            name: "Wigle",
            category: "🗺️ Maps",
            url: "https://wigle.net/map?maplat=$lat&maplon=$lng&mapzoom=17"
        },
        {
            name: "Liveuamap - Ukraine",
            category: "📰 Liveuamap",
            url: "https://liveuamap.com/?zoom=10&ll=$lat,$lng"
        },
        {
            name: "Liveuamap - Israel/Palestine",
            category: "📰 Liveuamap",
            url: "https://israelpalestine.liveuamap.com/?zoom=10&ll=$lat,$lng"
        },
        {
            name: "Liveuamap - Iran",
            category: "📰 Liveuamap",
            url: "https://iran.liveuamap.com/?zoom=10&ll=$lat,$lng"
        },
        {
            name: "Liveuamap - USA",
            category: "📰 Liveuamap",
            url: "https://usa.liveuamap.com/?zoom=10&ll=$lat,$lng"
        },
        {
            name: "Ventusky",
            category: "⛅ Weather",
            url: "https://www.ventusky.com/?p=$lat;$lng;11",
            precision: 3,
        },
        {
            name: "NASA Wildfires",
            category: "⛅ Weather",
            url: "https://firms.modaps.eosdis.nasa.gov/map/#d:24hrs;@$lng,$lat,13.00z"
        }
    ],
    /**
     * Screens can be changed and added freely, from 2 to 7 maximum.
     * - provider: [google, azure, bing, mapbox]
     * - type: [aerial, birdseye, street]
     * - heading: 0 to 359 (optional)
     *
     * Go over to the README file to check which types are supported by each provider.
     */
    screens: [
        {
            provider: "azure",
            type: "aerial",
            heading: 0,
        },
        {
            provider: "google",
            type: "birdseye",
            heading: 0,
        },
        {
            provider: "mapbox",
            type: "birdseye",
            heading: 90,
        },
        {
            provider: "google",
            type: "birdseye",
            heading: 180,
        },
        {
            provider: "bing",
            type: "birdseye",
            heading: 270,
        },
        {
            provider: "bing",
            type: "street",
            heading: 0,
        },
        {
            provider: "google",
            type: "street",
            heading: 0,
        }
    ]
};
