/**
 * Currently unused. Later, it will provide an easy way to edit configurations.
 */
self.configuration = {
    language: "en",
    // In order to use one of the providers, a valid API key must be provided.
    apiKeys: {
        google: "",
        bing:   "",
        mapbox: "",
    },
    // Specify which map provider to use in each section.
    maps: {
        mainMap:   "google", // [required] possible values: google, mapbox
        aerialMap: "google", // [required] possible values: google
        streetMap: "google", // [required] possible values: google
    },
    // Quick links are dinamically generated, and can be added freely.
    // Syntax:
    //      https://website.tld/path/$lat,$lng
    // Parameters:
    //      - $lat: latitude of the current position
    //      - $lng: longitude of the current position
    shortcuts: [
        {
            name: "Twitter Media",
            category: "📱 Social Media",
            url: "https://twitter.com/search?q=geocode:$lat,$lng,1km&f=media",
        },
        {
            name: "Youtube Geofind",
            category: "📱 Social Media",
            url: "https://mattw.io/youtube-geofind/location?location=$lat,$lng&radius=5&pages=3&doSearch=true",
        },
        {
            name: "Flickr Map",
            category: "📱 Social Media",
            url: "https://www.flickr.com/map?&fLat=$lat&fLon=$lng3&zl=14",
        },
        {
            name: "WikiLoc",
            category: "📱 Social Media",
            url: "https://www.wikiloc.com/wikiloc/map.do?sw=$lat,$lng",
        },
        {
            name: "MarineTraffic",
            category: "🛬 Transport",
            url: "https://www.marinetraffic.com/en/ais/home/centerx:$lng/centery:$lat/zoom:13",
            precision: 3,
        },
        {
            name: "FlightRadar",
            category: "🛬 Transport",
            url: "https://www.flightradar24.com/$lat,$lng/10",
            precision: 2,
        },
        {
            name: "OpenRailwayMap",
            category: "🛬 Transport",
            url: "https://www.openrailwaymap.org/?style=standard&lat=$lat&lon=$lng&zoom=14"
        },
        {
            name: "YandexMaps",
            category: "🗺️ Maps",
            url: "https://yandex.com/maps/?l=pht&ll=$lng,$lat&z=10"
        },
        {
            name: "ShadeMap",
            category: "🗺️ Maps",
            url: "https://shademap.app/@$lat,$lng,10z,1721048871711t,0b,0p,0m"
        },
        {
            name: "Ventusky",
            category: "⛅ Weather",
            url: "https://www.ventusky.com/$lat;$lng;11",
            precision: 3,
        },
        {
            name: "NASA Wildfires",
            category: "⛅ Weather",
            url: "https://firms.modaps.eosdis.nasa.gov/map/#d:24hrs;@$lng,$lat,13.00z"
        }
    ],
    services: {
        weather: "https://api.open-meteo.com/v1/forecast?latitude=$lat&longitude=$lng&current=temperature_2m,is_day,precipitation,weather_code,cloud_cover,wind_speed_10m,wind_direction_10m"",  // Powered by https://open-meteo.com
        weather_historical: "https://archive-api.open-meteo.com/v1/archive?latitude=$lat&longitude=$lng", // Powered by https://open-meteo.com
    }
};